:root {
    background-color: rgb(232, 222, 214);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 38, 30);
}
body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(44, 38, 30);
    color: rgb(200, 199, 192) ;
    text-align: center;
    padding: 15px;
}

#about {
    padding: 10px;
}

img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

ul {
    padding-left: 350px;
}

#welcome {
    font-size: 1.2em;
    background-color: rgba(172, 197, 209, 0.735);
    padding: 5px;
}

button {
    background-color: blue;
    color: white;
}
button:hover {
    background-color: black;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

section:nth-of-type(3) {
    margin-top: 50px;
}


#list {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(172, 197, 209, 0.735);
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#list h3 {
    text-align: left;
    margin-left: 20px;
}
#list ul {
    clear: both;
}
#addNew {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#pokemon img {
    margin-left: 400px;
    width: 200px;
}
